

/*垂直卷轴 方向默认向top收缩*/
.sss-transition-vertical-scroll-enter-active,
.sss-transition-vertical-scroll-leave-active {
    transform: scaleY(1);
    opacity: 1;
    transform-origin: center top;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.72, 1),
    opacity 300ms cubic-bezier(0.23, 1, 0.72, 1);
}

.sss-transition-vertical-scroll-leave-to,
.sss-transition-vertical-scroll-enter-from {
    transform: scaleY(0);
    opacity: 0;
}

/*水平卷轴 方向默认向left收缩*/
.sss-transition-horizontal-scroll-enter-active,
.sss-transition-horizontal-scroll-leave-active {
    transform: scaleX(1);
    opacity: 1;
    transform-origin: center top;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.72, 1),
    opacity 300ms cubic-bezier(0.23, 1, 0.72, 1);
}

.sss-transition-horizontal-scroll-leave-to,
.sss-transition-horizontal-scroll-enter-from {
    transform: scaleX(0);
    opacity: 0;
}


/*收缩, 使用时可以具体指明变换原点*/
.sss-transition-scale-enter-active,
.sss-transition-scale-leave-active {
    transform: scale(1);
    opacity: 1;
    transform-origin: center 25%;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.72, 1),
    opacity 300ms cubic-bezier(0.23, 1, 0.72, 1);
}

.sss-transition-scale-leave-to,
.sss-transition-scale-enter-from {
    transform: scale(.8);
    opacity: 0;
}






/*淡入*/
.sss-transition-fade-enter-active,
.sss-transition-fade-leave-active {
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.23, 1, 0.72, 1);
}

.sss-transition-fade-enter-from,
.sss-transition-fade-leave-to {
    opacity: 0;
}


/*下降，淡入*/
.sss-transition-down-fade-enter-from,
.sss-transition-down-fade-leave-to{
    transform: translateY(-15px) ;
    opacity: 0;
}
.sss-transition-down-fade-enter-active,
.sss-transition-down-fade-leave-active {
    transition: all  .3s;
}

/*往左，淡入*/
.sss-transition-left-fade-enter-from,
.sss-transition-left-fade-leave-to{
    transform: translateX(15px) ;
    opacity: 0;
}
.sss-transition-left-fade-enter-active,
.sss-transition-left-fade-leave-active {
    transition: all  .3s;
}

/*往右，淡入*/
.sss-transition-right-fade-enter-from,
.sss-transition-right-fade-leave-to{
    transform: translateX(-15px) ;
    opacity: 0;
}
.sss-transition-right-fade-enter-active,
.sss-transition-right-fade-leave-active {
    transition: all  .3s;
}

.sss-transition-fadeIn{
 animation:  fade .4s ease forwards;
}
.sss-transition-fadeOut{
    animation:  fade reverse .3s ease-in forwards;
}


@keyframes down {
    0%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}