.flex-row-center-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.flex-row-start-center {
    .flex-row-center-center();
    justify-content: flex-start;
}

.filter-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
