@import "../mixn/_index";

& {
    @ns:@{componentPrefix}-badge;
    @types: primary, success, info, warning, danger, cyan;
    @variant: empty, fantasy;

    //base
    .d(@ns, {
        .useBorderRadius(@infinite);
        .useBorderBox();

        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
        font-size: var(--sss-font-size-small);
        padding: 0 7px;

        background: var(--sss-color-primary);
        border: solid 1px var(--sss-color-bg);
        color: var(--sss-color-white);

        //没有内容显示为小圆点
        &:empty{
            padding: 3px;
        }
    });

    //modifier types
    .d(@ns, {


        each(@types, .(@type){
           .m(@type, {
               background: getClrVar(@type);

           })
        });
    });

    //modifier variant empty
    .d(@ns, {
        .m(empty, {
            background: var(--sss-color-bg);
            border-color: getClrVar(primary, light);
            color: getClrVar(primary);
        });
        each(@types, .(@type){
            .m(empty, {
                .with(bm(@ns, @type), {
                    background: var(--sss-color-bg);
                    border-color: getClrVar(@type, light);
                    color: getClrVar(@type);
                });

            })
        });
    });

    //modifier variant fantasy
    .d(@ns, {
        .m(fantasy, {
            background: getClrVar(primary, fade);
            border-color: getClrVar(primary, light);
            color: getClrVar(primary);
        });
        each(@types, .(@type){
            .m(fantasy, {
                .with(bm(@ns, @type), {
                    background: getClrVar(@type, fade);
                    border-color: getClrVar(@type, light);
                    color: getClrVar(@type);
                });

            })
        });
    });

    //point
    .d(@ns, {
        each(@types, .(@type){
            .m(@type, {
                &:empty{
                    background-color: getClrVar(@type)!important;
                }
            });

        });
    });

}

//.s-badge {
//
//
//
//
//
//    &--empty{
//        background: var(--sss-color-bg);
//        border-color: var(--sss-color-primary-light);
//        color: var(--sss-color-primary);
//    }
//
//
//    &--cyan {
//        background: var(--sss-color-cyan);
//        &.s-badge--empty{
//
//        }
//
//    }
//
//    &--waring {
//        background: var(--sss-color-warning);
//        &.s-badge--empty{
//            background: var(--sss-color-bg);
//            border-color: var(--sss-color-warning-light);
//            color: var(--sss-color-warning);
//        }
//    }
//
//    &--danger {
//        background: var(--sss-color-danger);
//        &.s-badge--empty{
//            background: var(--sss-color-bg);
//            border-color: var(--sss-color-danger-light);
//            color: var(--sss-color-danger);
//        }
//    }
//
//    &--info {
//        background: var(--sss-color-info);
//        &.s-badge--empty{
//            background: var(--sss-color-bg);
//            border-color: var(--sss-color-info-light);
//            color: var(--sss-color-info);
//        }
//    }
//
//}