.s-message-dialog{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

}
.s-message-dialog__inner{
    min-width: 280px;
    min-height: 200px;
    position: fixed;
    width: 30vw;
    .s-message{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        gap: 7px;
    }
}
