@import "../mixn/_index";


.@{componentPrefix}-dialog {
    @ns: @{componentPrefix}-dialog;
    @inner: @{componentPrefix}-message;
    @drag-container: @{componentPrefix}-draggable-container;

    //base
    & {
        //全屏 & 元素居中
        .useModal();
        .useFlexRCC();
    }

    //ele inner
    .e(inner, {
        min-width: 400px;
        min-height: 250px;
        width: 30vw;
        position: absolute;
        z-index: 30;

        .d(@inner, {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
        });

    });

    //status part
    .is(part, {
        position: absolute;
        .d(@drag-container, {
            position: absolute;
            z-index: 30;
        });
    })

}


