@import "../mixn/_index";

@plugin "../plugin/index";


& {
    @ns: @{componentPrefix}-divider;
    @status: dashed, solid;
    @placements: start, center, end;


    @dir: vertical, horizontal;


    //variable
    .d(b(@ns), {
        --sss-divider-gap: 10px;
        --sss-divider-placement: center;
    });

    //base
    .d(b(@ns), {
        .useBorderBox();
        .useIFlexRCC();
        position: relative;

        margin: var(--sss-divider-gap) 0;
        width: 100%;
        height: 1px;
        font-size: var(--sss-font-size-small);


        .include(be(@ns, content), {
            padding: 0 10px;

        });


    });

    //status
    each(@status, .(@type) {
        .d(bm(@ns, @type), {
            border-top: 1px @type var(--sss-color-gray);
            border-left: 1px @type var(--sss-color-gray);
        });
    });


    //placement
    each(@placements, .(@v) {
        .d(bm(@ns, @v), {
            & when (@v = start) {
                .include(be(@ns, content), {
                    left: 15px;
                })
            }
            & when (@v = end) {
                .include(be(@ns, content), {
                    right: 15px;
                })
            }

        });
    });


    //direction vertical
    .d(bm(@ns, vertical), {
        margin: 0 10px;
        height: 1em;
        width: 0;
        display: inline-flex;


        .include(be(@ns, content), {
            padding: 0;
        });
    });


    //content element
    .d(be(@ns, content), {
        position: absolute;
        .useIFlexRCC(5);
        opacity: 1;
        background-color: var(--sss-color-bg);
        left: var(--sss-divider-placement);
    });


}



