@import "../mixn/_index";

@plugin "../plugin/index";

.@{componentPrefix}-divider {
    @ns: @{componentPrefix}-divider;
    @types: dashed, solid;
    @placements: start, center, end;
    @dir: vertical, horizontal;


    //var
    & {
        --sss-divider-gap: 10px;
        --sss-divider-placement: center;
    }

    //base
    & {
        .useBorderBox();
        .useIFlexRCC();
        position: relative;

        margin: var(--sss-divider-gap) 0;
        width: 100%;
        height: 1px;
        font-size: var(--sss-font-size-small);

    }

    //ele
    .e(content, {
        padding: 0 10px;

        position: absolute;
        .useIFlexRCC(5);
        background-color: var(--sss-color-bg);
        left: var(--sss-divider-placement);
    });

    //modifier type
    each(@types, .(@type) {
        .m(@type, {
            border-top: 1px @type var(--sss-color-gray);
            border-left: 1px @type var(--sss-color-gray);
        });
    });

    //modifier placement
    each(@placements, .(@v) {
        .m(@v, {
            & when (@v = start) {
                .e(content, {
                    left: 15px;
                }, @ns);
            }
            & when (@v = end) {
                .e(content, {
                    right: 15px;
                }, @ns);
            }

        });
    });


    //modifier direction
    .m(vertical, {
        margin: 0 var(--sss-divider-gap);
        height: 1em;
        width: 0;
        display: inline-flex;

        .e(content, {
            padding: 0;
        }, @ns);
    });


}

