@import "../global";

.@{componentPrefix}-floating {
    @ns: @{componentPrefix}-floating;


    //base
    & {
        .useBorderDft();
        .useBorderRadius(4);

        padding: 5px;
        position: relative;
        white-space: nowrap;
    }

    .e(arrow, {
        height: 10px;
        width: 10px;
        position: absolute;
        z-index: 0;
        content: "";
        display: block;
        rotate: 45deg;
        box-sizing: border-box;
        background-color: inherit;
    });


    &[data-placement^="top"] {
        transform-origin: center bottom;
        .e(arrow, {
            bottom: -5px;
            border-right: 1px solid var(--sss-color-gray);
            border-bottom: 1px solid var(--sss-color-gray);
        }, @ns);
    }

    &[data-placement^="bottom"] {
        transform-origin: center top;
        .e(arrow, {
            top: -5px;
            border-left: 1px solid var(--sss-color-gray);
            border-top: 1px solid var(--sss-color-gray);
        }, @ns);


    }

    &[data-placement^="left"] {
        transform-origin: right center;
        .e(arrow, {
            right: -5px;
            border-right: 1px solid var(--sss-color-gray);
            border-top: 1px solid var(--sss-color-gray);
        }, @ns);


    }

    &[data-placement^="right"] {
        transform-origin: left center;
        .e(arrow, {
            left: -5px;
            border-left: 1px solid var(--sss-color-gray);
            border-bottom: 1px solid var(--sss-color-gray);
        }, @ns);

    }
}


.___s-floating-container {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 0;
    width: 0;
}