@import "../global";


& {
    @ns: @{componentPrefix}-floating;

    .d(@ns, {
        .useBorderDft();
        .useBorderRadius(4);

        padding: 5px;
        position: relative;
        white-space: nowrap;
    });


    .d(be(@ns, arrow), {
        height: 10px;
        width: 10px;
        position: absolute;
        z-index: 0;
        content: "";
        display: block;
        rotate: 45deg;
        box-sizing: border-box;
        background-color: inherit;
    });

    .d(@ns, {
        &[data-placement^="top"] {
            transform-origin: center bottom;
            .d(be(@ns, arrow), {
                bottom: -5px;
                border-right: 1px solid var(--sss-color-gray);
                border-bottom: 1px solid var(--sss-color-gray);
            });
        }
        &[data-placement^="bottom"] {
            transform-origin: center top;
            .d(be(@ns, arrow), {
                top: -5px;
                border-left: 1px solid var(--sss-color-gray);
                border-top: 1px solid var(--sss-color-gray);
            });

        }
        &[data-placement^="left"] {
            transform-origin: right center;
            .d(be(@ns, arrow), {
                right: -5px;
                border-right: 1px solid var(--sss-color-gray);
                border-top: 1px solid var(--sss-color-gray);
            });

        }
        &[data-placement^="right"] {
            transform-origin: left center;
            .d(be(@ns, arrow), {
                left: -5px;
                border-left: 1px solid var(--sss-color-gray);
                border-bottom: 1px solid var(--sss-color-gray);
            });
        }
    })
}


.___sss-floating-container {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 0;
    width: 0;
}