@import "../mixn/_index";


& {
    @ns:@{componentPrefix}-icon;

    .d(@ns, {
        --sss-icon-color: inherit;
    });

    .d(@ns, {
        .useIFlexRCC();
        cursor: pointer;
        user-select: none;
        box-sizing: unset !important;
        width: 1em;
        height: 1em;
        font-size: 1em;
        line-height:1em;
        color: var(--sss-icon-color);
    });
}

