@import "../mixn/_index";


.@{componentPrefix}-icon {
    @ns: @{componentPrefix}-icon;

    //var
    & {
        --sss-icon-color: inherit;
    }

    //base
    & {
        .useIFlexRCC();
        cursor: pointer;
        user-select: none;
        box-sizing: unset !important;
        width: 1em;
        height: 1em;
        font-size: 1em;
        //line-height:1em !important;
        color: var(--sss-icon-color);
    }
}


