@import "../mixn/_index";


.s-input {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;

    height: var(--sss-component-height);
    font-size: var(--sss-font-size-default);

    .useBorderDft();
    .useBorderRadius(5);
    background-color: transparent;


    user-select: none;
    transition: all .3s;


    &:focus-within {
        border: solid 1px var(--sss-color-primary);
        box-shadow: 0 0 5px 0 var(--sss-color-primary-light);
    }

    &:hover {
        border: solid 1px var(--sss-color-gray-dark);

        .sss-input-icon-close {
            display: inline-block;
        }
    }

    &--small {
        font-size: var(--sss-font-size-small);
        height: var(--sss-component-height-small);


    }

    &--large {
        height: var(--sss-component-height-large);
    }


}

.s-input__inner {
    border: none;
    border-radius: inherit;
    background: inherit;

    height: 100%;

    display: inline-block;
    min-width: 100px;
    flex: 1;
    font-size: inherit;

    padding: 0 7px;


    &:focus {
        outline: none;
    }

    &::placeholder {
        color: var(--sss-color-gray);
    }

    &[type="password"]::-ms-reveal {
        display: none !important;

    }
}

.s-input__icon {
    flex-shrink: 0;
    border-radius: inherit;
    color: var(--sss-color-gray-dark);
    display: inline-flex;

    &--prefix {

    }

    &--limit {
        &[data-overflow = 'true'] {
            color: red;
        }

        & * {
            color: inherit;
            padding: 0 3px 0 0;
        }

        background-color: transparent;
        padding: 0 5px;
        font-size: 10px;
        line-height: 30px;
        vertical-align: center;
        align-items: center;
    }

}

.s-input__slot {
    flex-shrink: 0;
    display: flex;
    align-items: center;

    min-height: 100%;
    padding: 0 15px;


    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    border-right: inherit;
    background-color: var(--sss-color-primary-fade);


    //& > * {
    //    height: 100%;
    //    border-radius: inherit;
    //    border: none;
    //}

    &--suffix {
        border: none;
        border-left: inherit;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
    }
}





