@import "../mixn/_index";

& {
    @ns: @{componentPrefix}-link;
    @types: primary, info, warning, danger;

    .d(@ns, {
        .useIFlexRCC(3);

        cursor: pointer;
        text-decoration: none;

    });

    //types
    .d(@ns, {
        color: var(--sss-color-cyan);
        &:hover,
        &:focus {
            color: var(--sss-color-cyan-light);
        }
        &:active {
            color: var(--sss-color-cyan-dark);
        }
        &:after {
            background-color: var(--sss-color-cyan-light);
        }
        each(@types, .(@type) {
            .m(@type, {
                color: getClrVar(@type);
                &:hover,
                &:focus {
                    color: getClrVar(@type, light);
                }
                &:active {
                    color: getClrVar(@type, dark);;
                }
                &:after {
                    background-color: getClrVar(@type, light);
                }
            })
        })
    });


    //disabled
    .d(@ns, {
        .is(disabled, {
            color: var(--sss-color-cyan);
            &:after {
                background-color: transparent;
            }
        });
        each(@types, .(@type) {
            .m(@type, {
                .is(disabled, {
                    color: getClrVar(@type);
                    &:after {
                        background-color: transparent;
                    }
                });

            });

        })
    })
}

