@import "../mixn/_index";


// message box
.@{componentPrefix}-message-box {
    @ns: @{componentPrefix}-message-box;
    @types: success, info, warning, danger;


    //base
    & {
        .useFlexRCC(5);
        align-items: stretch;

        .useBorderDft(3);
        box-shadow: rgba(17, 17, 26, 0.05) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px;


        outline: none;
        padding: 10px 10px 15px;
        font-size: var(--sss-font-size-default);
    }
;

    //ele icon
    .e(icon, {
        height: 1.55em;
    });
    .e(inner, {
        flex: 1;
        overflow: hidden;
    });
}


.@{componentPrefix}-message {
    @ns: @{componentPrefix}-message;

    //var
    & {
        --sss-message-title-font-size: 18px;
        --sss-message-title-font-weight: bolder;
        --sss-message-title-icon-bg: transparent;
        --sss-message-gap: 15px;
        --sss-message-text-margin: 0;
    }


    //ele header;
    .e(header, {
        margin-bottom: var(--sss-message-gap);
        .m(default, {
            .useFlexRCC(20);
            justify-content: space-between;
        });

        .e(title, {
            margin: 0;
            font-weight: var(--sss-message-title-font-weight);
            font-size: var(--sss-message-title-font-size) !important;

            .filter-overflow();
        });

        .e(icon, {
            border-radius: 5px;
            outline: none;
            color: var(--sss-color-gray-dark);
            padding: 5px;
            background-color: var(--sss-message-title-icon-bg);

            &:hover,
            &:focus {
                --sss-message-title-icon-bg: var(--sss-color-gray-fade);
            }
        });


    });

    //ele body
    .e(body, {
        flex: 1;
        font-size: inherit;
    });

    //ele text
    .e(text, {
        .filter-overflow();
        margin-right: var(--sss-message-text-margin);
    });

    //ele footer
    .e(footer, {
        margin-top: var(--sss-message-gap);

        .m(default, {
            display: flex;
            justify-content: flex-end;
            gap: 5px;
        })
    });

}


//message-draggable-container
.@{componentPrefix}-message-draggable-container {
    @ns: @{componentPrefix}-message-draggable-container;
    @box: @{componentPrefix}-message-box;
    @inner: @{componentPrefix}-message;


    position: fixed;
    .d(@box, {
        position: static !important;
        .e(header, {
            cursor: move;
            user-select: none;
        });
    });


}


//message-container
.@{componentPrefix}-message-container {
    @ns: @{componentPrefix}-message-container;
    @box: @{componentPrefix}-message-box;
    @inner: @{componentPrefix}-message;
    @types: success, info, warning, danger;

    position: fixed;
    transition: all .4s ease;


    .d(@inner, {
        --sss-message-gap: 0;
        --sss-message-title-font-size: 12px;
        --sss-message-title-font-weight: normal;

        .e(header, {
            .useFlexRCC(5);

            .e(icon, {
                background-color: transparent;
            })
        });
    });

    .d(@box, {
        padding: 5px 10px;
        align-items: center;
        box-shadow: none;

        each(@types, .(@type) {
            .m(@type, {
                background-color: getClrVar(@type, fade);
                border-color: getClrVar(@type, lighter);
            })
        })
    });


}

//notify-container
.@{componentPrefix}-notify-container {
    @ns: @{componentPrefix}-notify-container;
    @inner: @{componentPrefix}-message;

    width: 300px;
    transition: all .4s ease;

    .d(@inner, {
        --sss-message-title-font-size: var(--sss-font-size-default);
        --sss-message-text-margin: 10px;

        .e(text, {
            word-wrap: break-word;
            white-space: break-spaces;
        });
    });

}

//confirm-container
.@{componentPrefix}-confirm-container {
    @ns: @{componentPrefix}-confirm-container;
    @box: @{componentPrefix}-message-box;
    @inner: @{componentPrefix}-message;

    //base
    & {
        //全屏& 元素居中
        .useModal();
        .useFlexRCC();
    }

    .d(@box, {
        min-width: 280px;
        max-width: 400px;
        position: absolute;

    });
    .d(@inner, {
        --sss-message-text-margin: 25px;
        .e(text, {
            word-wrap: break-word;
            white-space: break-spaces;
        });
    });

}


.pos-top-right {
    position: fixed;
    top: 0;
    right: 20px;

}

.pos-top-left {
    position: fixed;
    top: 0;
    left: 20px;
}

.pos-bottom-right {
    position: fixed;
    right: 20px;
    bottom: 0;

}

.pos-bottom-left {
    position: fixed;
    left: 20px;
    bottom: 0;

}

.pos-top-center {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


