@import "../mixn/_index";


// message box
& {
    @ns: @{componentPrefix}-message-box;
    @types: success, info, warning, danger;


    //base
    .d(@ns, {
        .useFlexRCC(5);
        align-items: stretch;

        .useBorderDft(3);
        box-shadow: rgba(17, 17, 26, 0.05) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px;


        outline: none;
        padding: 10px 10px 15px;
        font-size: var(--sss-font-size-default);
    });

    //icon
    .d(be(@ns, icon), {
        height: 1.55em;
    });
}


//message
& {
    @ns: @{componentPrefix}-message;
    .d(@ns, {
        --sss-message-title-font-size: 18px;
        --sss-message-title-font-weight: bolder;
        --sss-message-title-icon-bg: transparent;
        --sss-message-title-margin: 15px;
        --sss-message-text-margin: 0;
    });

    .d(@ns, {
        flex: 1;
        overflow: hidden;

    });

    //element header;
    .d(be(@ns, header), {
        margin-bottom: var(--sss-message-title-margin);
        .m(default, {
            .useFlexRCC(20);
            justify-content: space-between;
        });

        .e(title, {
            margin: 0;
            font-weight: var(--sss-message-title-font-weight);
            font-size: var(--sss-message-title-font-size);

            .filter-overflow();
        });

        .e(icon, {
            border-radius: 5px;
            outline: none;
            color: var(--sss-color-gray-dark);
            padding: 5px;
            background-color: var(--sss-message-title-icon-bg);

            &:hover,
            &:focus {
                --sss-message-title-icon-bg: var(--sss-color-gray-fade);
            }
        });


    });

    //element body
    .d(be(@ns, body), {
        flex: 1;
        font-size: inherit;
    });

    .d(be(@ns, text), {
        .filter-overflow();
        margin-right: var(--sss-message-text-margin);
    });

    //element footer
    .d(be(@ns, footer), {
        margin-top: var(--sss-message-title-margin);

        .m(default, {
            display: flex;
            justify-content: flex-end;
            gap: 5px;
        })
    });

}


//message-draggable-container
& {
    @ns: @{componentPrefix}-message-draggable-container;
    @box: @{componentPrefix}-message-box;
    @inner: @{componentPrefix}-message;


    .d(@ns, {
        position: fixed;
        .d(@box, {
            position: static !important;
        });

        .d(s-message__header, {
            cursor: move;
            user-select: none;
        });

    });


}


//message-container
& {
    @ns: @{componentPrefix}-message-container;
    @box: @{componentPrefix}-message-box;
    @inner: @{componentPrefix}-message;
    @types: success, info, warning, danger;

    .d(@ns, {
        position: fixed;
        transition: all .4s ease;


        .d(@inner, {
            --sss-message-title-margin: 0;
            --sss-message-title-font-size: 12px;
            --sss-message-title-font-weight: normal;

        });

        .@{box} {
            padding: 5px 10px;
            align-items: center;
            box-shadow: none;

            each(@types, .(@type) {
                .m(@type, {
                    background-color: getClrVar(@type, fade);
                    border-color: getClrVar(@type, lighter);
                })
            })
        }

        .d(be(@inner, header), {
            .useFlexRCC(5);

            .e(icon, {
                background-color: transparent;
            })
        });


    });
}

//notify-container
& {
    @ns: @{componentPrefix}-notify-container;
    @inner: @{componentPrefix}-message;

    .d(@ns, {
        width: 300px;
        transition: all .4s ease;
    });

    .d(@inner, {
        --sss-message-title-font-size: var(--sss-font-size-default);
    });

    .s-message__message__text {
        word-wrap: break-word;
        white-space: break-spaces;
        padding-right: 25px;
    }

}

//confirm-container
& {
    @ns: @{componentPrefix}-confirm-container;
    @inner:@{componentPrefix}-message;
    .d(@ns, {

        //全屏展示
        .useModal();

        //消息框居中
        .useFlexRCC();

        //控制大小
        .s-message-box {
            min-width: 280px;
            max-width: 400px;
            position: absolute;
        }

        .d(@inner, {
            --sss-message-text-margin: 25px;

            .e(text, {
                word-wrap: break-word;
                white-space: break-spaces;
            });

        });

    })
}


.pos-top-right {
    position: fixed;
    top: 0;
    right: 20px;

}

.pos-top-left {
    position: fixed;
    top: 0;
    left: 20px;
}

.pos-bottom-right {
    position: fixed;
    right: 20px;
    bottom: 0;

}

.pos-bottom-left {
    position: fixed;
    left: 20px;
    bottom: 0;

}

.pos-top-center {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


