@import "../mixn/_index";


& {
    @ns: @{componentPrefix}-popconfirm;
    .d(@ns, {
        min-width: 200px;
        padding: 0;
        white-space: unset;
    });
    .d(be(@ns, inner), {
        background-color: inherit;
        border: none;
        .d(s-message__header, {
            margin-bottom: 10px;

        })
    });
}

