@import "../mixn/_index";

.@{componentPrefix}-popconfirm{
    @ns: @{componentPrefix}-popconfirm;

    //base
    & {
        min-width: 200px;
        padding: 0;
        white-space: unset;
    };
    .e(inner, {
        background-color: inherit;
        border: none;
    });
}

