@import "../mixn/_index";

.s-progress{
    .useBorderBox();
    .useFlexRCC();

    gap: 1em;
    min-width: 400px;
    height: 10px;
    font-size: var(--sss-font-size-small);

    --sss-progress-thumb-color:unset;


}

.s-progress__bar{
    flex: 1;
    .useBorderRadius(@infinite);

    height: 100%;
    width: 100%;
    background-color: var(--sss-color-gray-fade);
}
.s-progress__thumb{
    .useBorderRadius(@infinite);
    .usePulse(var(--sss-progress-thumb-color),2s, 90deg);
    transition: all .3s linear;
    position: relative;

    height: 100%;
    width: 10%;
    background-color: var(--sss-progress-thumb-color);
}
.s-progress__text{
    white-space: nowrap;
    overflow: hidden;
    min-width: 3em;
    &--inside{
        min-width: unset;
        position: absolute;
        right: 5px;
        top: calc(50%);
        transform: translateY(-50%);
        color: var(--sss-color-white);
    }
}
.s-progress__icon{
    color: var(--sss-progress-thumb-color);
    font-size: 15px;
}