@import "../mixn/_index";

.@{componentPrefix}-row{
    @ns: @{componentPrefix}-row;

    //var
    & {
        --sss-row-gap: unset;
        --sss-row-justify-content: unset;
        --sss-row-align-item: unset;
        --sss-row-wrap: unset;
    }


    //base
    & {
        display: flex;
        margin-bottom: 20px;
        align-items: var(--sss-row-align-item);
        justify-content: var(--sss-row-justify-content);
        gap: var(--sss-row-gap);
        flex-wrap: var(--sss-row-wrap);
    }


}
