@import "../mixn/_index";

.@{componentPrefix}-scrollbar {
    @ns: @{componentPrefix}-scrollbar;
    //base
    & {
        position: relative;

        &[data-always = 'true'] {
            .e(bar, {
                opacity: 1;
            }, @ns);
        }

        &[data-native="true"] {
            .e(wrapper, {
                &::-webkit-scrollbar {
                    width: 6px;
                    display: unset;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: var(--sss-color-gray-dark); /* 设置滚动条滑块的背景颜色 */
                    border-radius: 9999px;

                    &:hover,
                    &:active {
                        background-color: var(--sss-color-gray-deep-dark); /* 设置滚动条滑块的背景颜色 */
                    }

                }
            }, @ns);

        }

        &:hover {
            .e(bar, {
                opacity: 1;
            }, @ns);
        }

    }


    //ele wrapper
    .e(wrapper, {
        height: 100%;
        width: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;

        }
    });

    //ele bar
    .e(bar, {
        user-select: none;
        opacity: 0;
        position: absolute;
        transition: all .3s ease;
        background-color: transparent;

        .is(active, {
            opacity: 1;
            .e(thumb, {
                background-color: var(--sss-color-gray-dark);
            }, @ns);

        });

        .is(vertical, {
            width: 6px;
            height: 100%;
            right: 0;
            top: 0;

            .e(thumb, {
                position: absolute;
                width: inherit;
            }, @ns);


            .is(outside, {
                left: 100%;

            });

        });
        .is(horizontal, {
            height: 6px;
            width: 100%;
            bottom: 0;
            left: 0;

            .e(thumb, {
                position: absolute;
                height: inherit;
            }, @ns);

            .is(outside, {
                top: 100%;
            });

        });

    });

    //ele thumb
    .e(thumb, {
        background-color: var(--sss-color-gray);

        &:hover {
            background-color: var(--sss-color-gray-dark);
        }
    });
}



