@import "../mixn/_index";

& {
    @ns: @{componentPrefix}-timeline-item;
    @types: success, info, warning, danger;

    //base
    .d(@ns, {
        .useBorderBox();
        position: relative;
    });

    //ele timeline
    .d(be(@ns, timeline), {
        position: absolute;
        left: 0;
        top: calc(.5em - 3px);
        height: 100%;
    });

    //ele circle
    .d(be(@ns, circle), {
        .useFlexRCC();
        height: 14px;
        width: 14px;
        border-radius: 50%;
        background-color: var(--sss-color-gray);
        color: var(--sss-color-gray-deep-dark);
    });

    //ele line
    .d(be(@ns, line), {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(50% - 0.8px);
        border-left: solid 1.6px var(--sss-color-gray);
        z-index: -1;
    });

    //ele content
    .d(be(@ns, content), {
        padding-left: 30px;
        padding-bottom: 30px;
    });
    //ele time
    .d(be(@ns, time), {
        color: var(--sss-color-gray-deep-dark);
        .m(start, {
            margin-bottom: 10px;
        });
        .m(end, {
            margin-top: 10px;
        });
    });


    //modifier variant
    .d(bm(@ns, empty), {
        .@{ns}__icon {
            color: var(--sss-color-gray-dark);
            background-color: var(--sss-color-white);
        }
        .@{ns}__circle {
            background-color: var(--sss-color-bg);
            border: solid 2px var(--sss-color-gray);
        }
    });

    //modifier types
    .d(@ns, {
        each(@types, .(@type) {
            .m(@type, {
                .d(be(@ns, circle), {
                    background-color: getClrVar(@type);
                });
                .d(be(@ns, icon), {
                    color: getClrVar(@type);
                    background-color: var(--sss-color-white);
                });

                .with(bm(@ns, empty), {
                    .d(be(@ns, circle), {
                        background-color: var(--sss-color-bg);
                        border: solid 2px getClrVar(@type);;
                    });
                });

            });
        });
    });

}



