@import "../mixn/_index";

.@{componentPrefix}-timeline-item {
    @ns: @{componentPrefix}-timeline-item;
    @types: success, info, warning, danger;

    //var
    & {
        --sss-timeline-item-color: unset;
        --sss-timeline-item-bg-color: unset;
        --sss-timeline-item-br-color: unset;
    }

    //base
    & {
        .useBorderBox();
        position: relative;
    }


    //ele timeline
    .e(timeline, {
        position: absolute;
        left: 0;
        top: calc(.5em - 7px);
        height: 100%;
    });

    //ele circle
    .e(circle, {
        .useFlexRCC();
        height: 14px;
        width: 14px;
        border-radius: 50%;
        background-color: var(--sss-timeline-item-bg-color);
        color: var(--sss-timeline-item-color);
        border-color: var(--sss-timeline-item-br-color);
        position: relative;
        z-index: 1;
        & > * {
            border-radius: 50%;
            background-color: var(--sss-color-bg);
        }
    });

    //ele line
    .e(line, {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(50% - 0.8px);
        border-left: solid 1.6px var(--sss-color-gray);
    });

    //ele content
    .e(content, {
        padding-left: 30px;
        padding-bottom: 30px;
    });

    //ele time
    .e(time, {
        color: var(--sss-color-gray-deep-dark);
        .m(start, {
            margin-bottom: 10px;
        });
        .m(end, {
            margin-top: 10px;
        });
    });


    //modifier types
    each(@types, .(@type) {
        .m(@type, {
            .e(circle, {
                --sss-timeline-item-bg-color: getClrVar(@type);
            }, @ns);
            .e(icon, {
                --sss-timeline-item-color: getClrVar(@type);
                background-color: var(--sss-color-bg);
            }, @ns);

        });
    });


    //modifier empty
    .m(empty, {

        .@{ns}__icon {
            display: none;
        }
        .@{ns}__circle {
            --sss-timeline-item-bg-color: getClrVar(bg);
            --sss-timeline-item-br-color: getClrVar(gray);
            border: solid 2px;
        }
    });
    each(@types, .(@type) {
        .mWith(empty, bm(@ns, @type), {
            .e(circle, {
                --sss-timeline-item-bg-color: getClrVar(bg);
                --sss-timeline-item-br-color: getClrVar(@type);
            }, @ns)
        });
    });

}



