@import "../mixn/_index";

。@{componentPrefix}-timeline {
    @ns: @{componentPrefix}-timeline;
    @item: @{componentPrefix}-timeline-item;


    //base
    & {
        margin: 0;
        padding: 0;
        list-style-type: none;

        & > *:last-child {
            .@{item}__line {
                display: none;
            }
        }
    }

    //modifier direction
    .m(horizontal, {
        .useFlexRCC();
        align-items: flex-start;


        .e(content, {
            padding: 30px 30px 0 0;
        }, @item);

        .e(timeline, {
            width: 100%;
            height: auto;
        }, @item);

        .e(line, {
            border-left: 0;
            border-top: solid 1.6px var(--sss-color-gray);
            width: 100%;
            left: 0;
            top: calc(50% - 0.8px);
        }, @item);


    });

    //modifier sizes
    .m(large, {
        .e(circle, {
            height: 16px;
            width: 16px;
            font-size: 16px;
        }, @item);
        .e(timeline, {
            top: calc(.5em - 8px);
        }, @item);


    });

    .m(small, {
        .e(circle, {
            height: 12px;
            width: 12px;
            font-size: 14px;
        }, @item);

        .e(timeline, {
            top: calc(.5em - 6px);
        }, @item);
    });
}

