@import "../mixn/_index";

& {
    @ns: @{componentPrefix}-tooltip;
    .d(@ns, {
        font-size: var(--sss-font-size-small);
        .m(dark, {
            color: rgb(237, 237, 237);
            background: rgb(23, 23, 23);
        });
        .m(light, {
            color: rgb(23, 23, 23);
            background: rgb(250, 250, 250);
        })
    })
}

